<md-dialog aria-label="List dialog">
    <md-content>
        <md-subheader>{{title_}}</md-subheader>
        <!--<div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div>-->
        <div class="dialog-content">
            <!--<div class="g-plusone" data-annotation="inline" data-width="300"></div>-->
             <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://google.com' data-action='share'></div>
             <div facebook class="facebookShare" data-title='{{title}}' data-picture-url='http://i.imgur.com/WACv9Cl.jpg' data-url='{{url}}' data-shares='shares'>{{ shares }}</div>
        </div>
        <!--<div facebook class="facebookShare" data-title='{{title}}' data-picture-url='http://i.imgur.com/WACv9Cl.jpg' data-url='{{url}}' data-shares='shares'>{{ shares }}</div>-->
         <!--<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://google.com' data-action='share'></div>-->
        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </md-content>
</md-dialog>
