<md-dialog aria-label="List dialog">
    <md-content>
        <md-subheader>{{title_}}</md-subheader>
        <md-content>
            <p ng-bind-html="content"></p>
        </md-content>
        <div layout="row">
            <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://google.com' data-action='share'></div>
             <a facebook class="facebookShare" data-url='http://google.com' data-shares='shares'>{{ shares }}</a>
            <!--<div facebook class="facebookShare" data-title='{{title}}' data-picture-url='http://i.imgur.com/WACv9Cl.jpg' data-url='{{url}}' data-shares='shares'>{{ shares }}</div>-->
        </div>
        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </div>
    </md-content>
</md-dialog>
